<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Definiowanie celów logowania (Targets) -->
	<targets>
		<!-- Logowanie do pliku w folderze "Logs" -->
		<target name="file" xsi:type="File" fileName="${basedir}/Logs/log-${shortdate}.log"
				layout="${longdate} |${level}| - ${message} ${exception}"
				rollingStyle="Date"
				maxArchiveFiles="7"
				archiveFileName="${basedir}/Logs/archive/log.{#}.log"
				archiveNumbering="Rolling" />
	</targets>

	<!-- Definiowanie reguł logowania (Rules) -->
	<rules>

		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" final="true" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<!-- Reguła logowania: loguj wszystkie wiadomości o poziomach Info i wyższych do pliku -->
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>
</nlog>